*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Struttura */
header{
    background-color: lightblue;
}
.container_header{
    height: 70px;
    width: 1000px;
    margin: 0 auto;
    padding-top: 10px;
}
.container{
    margin: 0 auto;
}
.container_img_text{
    width: 1000px;
    margin: 0 auto;
    padding: 50px 0;

}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.col_logo, .col_link, .col_login{
    height: 50px;
    border: dashed black 1px;
    background-color: burlywood;
}
.col_logo, .col_login{
    width: 25%;
}
.col_link{
    width: 50%;
}
.blue-container{
    background-color: blue;
    margin: 0 auto;
}
.col_download{
    width: 800px;
    height: 400px;
    background-color: violet;
    border: dashed black 1px;
    margin: 50px 0;
}
.col_img{
    height: 500px;
    width: 60%;
    background-color: aqua;
}
.col_text{
    height: 500px;
    width: 40%;
    background-color: pink;
}
.grey-container{
    width: 1000px;
}
.background-white{
    background-color: white;
}
.background-gray{
    background-color: lightgray;
}
.col_download_2{
    width: 1000px;
    height: 800px;
    background-color: violet;
    border: dashed black 1px;
    margin: 50px 0;
}
footer{
    background-color: black;
}
.container_footer_1{
    width: 1000px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid white;
}
.col_info, .col_prod, .col_comp, .col_risorse, .col_norme{
    height: 200px;
    border: dashed black 1px;
    background-color: aquamarine;
}
.col_prod, .col_comp, .col_risorse, .col_norme{
    width: calc(70% / 4);
}
.col_info{
    width: 30%;
    background-color: salmon;
}
.container_footer_2{
    height: 70px;
    width: 1000px;
    margin: 30px auto;
    padding-top: 10px;
    background-color: bisque;
    display: flex;
    justify-content: space-between ;
}
.col_logo_bottom, .col_registrati{
    height: 20px;
    border: dashed black 1px;
    background-color: burlywood;
}